@import './global.css';

/* @import './index.css'; */
/* @import '       '; */

p {
    color: red;
    display: flex; 
    /* webpackIgnore: true 这种情况需要忽略下面 url 的解析*/
    background-image:  url('');
}
